<div *ngIf="creature" class="container creature">
  <div class="row">
    <div class="col-xs-8">
      <div class="row">
        <div class="col-xs-6">
          <h1 *ngIf="!creature.editName" (ngModel)="creature.creatureName" (click)="creature.toggleEditCreatureName()">
            <span>{{ creature.creatureName }}</span> &nbsp;
            <span class="glyphicon glyphicon-pencil" style="font-size: 15px;"></span>
          </h1>
          <input class="form-control" *ngIf="creature.editName || !creature.creatureName"
            [(ngModel)]="creature.creatureName" (focusout)="creature.toggleEditCreatureName()" />
        </div>
        <div class="col-xs-6">
          <h2><a target="_blank" href="{{ creature.link }}">{{ creature.description }}</a></h2>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-4">
          Rounds Left: <input class="form-control" type="number" [(ngModel)]="creature.roundsLeft" />
        </div>
        <div class="col-xs-4">
          Hit Points: <input class="form-control" type="number" [(ngModel)]="creature.hitPoints" />
        </div>
        <div class="col-xs-4">
          <button type="button" class="btn btn-default button-holder" (click)="onDelete()">Delete</button>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          Status:
          <input class="form-control" type="text" />
        </div>
      </div>
      <div class="row">
        <div class="col-xs-3">
          <h3 title='Touch: {{ creature.armorClass.touchAC }} &nbsp; Flat: {{ creature.armorClass.flatAC }}'>
            Armor Class: <strong>{{ creature.armorClass.armorClass }}</strong></h3>
        </div>
        <div class="col-xs-3">
          <h4>{{ creature.alignment.description }}</h4>
        </div>
        <div class="col-xs-3">
          <h4>{{ creature.size }} {{ creature.type }}</h4>
        </div>
        <div class="col-xs-3">
          <h4>Speed: {{ creature.speed }} feet</h4>
          <h4>Reach: {{ creature.reach }} feet</h4>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <h3>Attacks:</h3>
          <attack *ngFor="let creatureAttack of creature.attacks" [attack]="creatureAttack"></attack>
        </div>
      </div>
      <div class="row">
        <br />
        <div class="col-xs-4">
          <h5>Abilities:</h5>
          <ul>
            <li *ngFor="let ability of creature.abilities">{{ ability }}</li>
          </ul>
          <h5>Feats:</h5>
          <ul>
            <li *ngFor="let feat of creature.feats">{{ feat }}</li>
          </ul>
        </div>
        <div class="col-xs-4">
          <h5>Skills:</h5>
          <ul>
            <li *ngFor="let skill of creature.skills">
              {{ skill.skill.description }}
              <span *ngIf='(skill.circumstance)'>({{ skill.circumstance }})</span>
              <span *ngIf='(skill.bonus >= 0)'>+</span>{{ skill.bonus }}</li>
          </ul>
        </div>
        <div class="col-xs-2" style="text-align: right;">
          Strength: {{ creature.abilityScores.strength }}<br />
          Dexterity: {{ creature.abilityScores.dexterity }}<br />
          Constitution: {{ creature.abilityScores.constitution }}<br />
          Intelligence: {{ creature.abilityScores.intelligence }}<br />
          Wisdom: {{ creature.abilityScores.wisdom }}<br />
          Charisma: {{ creature.abilityScores.charisma }}<br />
        </div>
        <div class="col-xs-2" style="text-align: right;">
          Fortitude: <span *ngIf='(creature.saves.fortitude >= 0)'>+</span>{{ creature.saves.fortitude }}<br />
          Reflex: <span *ngIf='(creature.saves.reflex >= 0)'>+</span>{{ creature.saves.reflex }}<br />
          Will: <span *ngIf='(creature.saves.will >= 0)'>+</span>{{ creature.saves.will }}<br />
          <br />
          CMB: <span *ngIf='(creature.combatManeuverBonus >= 0)'>+</span>{{ creature.combatManeuverBonus }}<br />
          CMD: <span *ngIf='(creature.combatManeuverDefense >= 0)'>+</span>{{ creature.combatManeuverDefense }}<br />
        </div>
      </div>
    </div>
    <div class="col-xs-4">
      <img class="col-xs-12" src="{{ creature.image }}" />
    </div>
  </div>
</div>
