/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';

body
{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #A7C68B;
}

a
{
    color: #6C7F5A;
}

a:hover
{
    color: #36402D;
}

.spell, .creature
{
    border: solid 3px #36402D;
    border-radius: 15px;
    margin-bottom: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 12px;
    background-color: #FFFFFF;
    color: #36402D;
}

.creature h1
{
    margin-top: 10px;
    font-size: 24px;
    font-weight: bold;
}

.creature h2
{
    margin-top: 10px;
    font-size: 20px;
}

.creature h3
{
    margin-top: 10px;
    font-size: 16px;
}

.creature h4
{
    font-size: 14px;
}

.creature h5
{
    font-size: 12px;
}

.creature h6
{
    font-size: 10px;
}

.creature ul
{
    padding-left: 15px;
}

.button-holder
{
    margin-top: 17px;
    width: 100%;
}
